.myTag{
  font-size: 12px;
 
 
 }

 .MyClass{
  display: grid;
 }

.MyCon{
  color: rgba(0, 0, 0, 0.337);
}
 
 .admin{
   padding: 20px;
   
 }
 
 .my-div{
   margin: 2vw;
 }
 

.AdminData{
 border: 0.5px solid rgba(255, 255, 255, 0.145);
 margin-left: -30px;
 width: 14vw;
 border-radius: 10px;
 background-color: white!important;
}

.MyName{
    /* color: rgba(160, 39, 39, 0.773); */
  font-size: 15px;
  font-weight: 700;
  margin-top: 13px;
  margin-bottom: 0;
  color: rgba(0, 0, 0, 0.685);
 
}

.myEmail{
  font-size: 12px;

 margin-top: 0;
 margin-bottom: 0;
  /* color: rgba(149, 16, 16, 0.773); */
}

.MyRoll{
  border: 1px solid rgba(88, 88, 173, 0.805);
  text-align: center;
  color: rgba(88, 88, 173, 0.77);
  border-radius: 8px;
  padding: 1.5px 4px;
  font-size: 8px;
  font-weight: 900;

}

.MyBorder{
  border: 0.5px solid rgba(0, 0, 0, 0.332);
  margin-top: -6px;
}



.MYDIV{
  margin-top: 1vw;
  display: inline-block;
}

.MyAdminsss{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.453);
  
}

.Myli{
  color: rgba(0, 0, 0, 0.575);
  font-size: 14px;
  margin-bottom: 2px;
}

.MyBtn{
  border: 1px solid rgba(0, 0, 0, 0.238);
  margin: -10px 5px !important;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.693);
}


.MyImgs{
  padding-left: 83.5px;
 
}

@media (max-width: 576px) {
  .AdminData{
    box-sizing: border-box;
    width: 55vw;
  }
}