.my-div{
  margin-top: 12px;
}

.Mydata{
  border: 1px solid rgba(0, 0, 0, 0.082);
}

.MyNavBar{
  color: rgba(0, 0, 0, 0.549);
  font-size: 16px;
}

.MyNavs{
  border-left: 1px solid rgba(0, 0, 0, 0.089);
  width: 73.3vw;
}