.MyAdmin{
  background-color: rgb(30, 23, 23);
 
}


.my-div{
  margin-top: 12px;
}

.Mydata{
  border: 1px solid rgba(0, 0, 0, 0.082);
}

.MyNavBar{
  color: rgba(0, 0, 0, 0.549);
  font-size: 16px;
}