.MyMianDiv{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.588);
}

.btn-hover:hover {
  background-color: black;
  color: white; /* Optional: to ensure the text color remains readable */
}

table{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
}

td{
  color: rgba(0, 0, 0, 0.588) !important;
}

.MyBTN {
  background-color: rgba(0, 0, 0, 0.067) !important;
  color: rgba(21, 21, 21, 0.373) !important;
  font-weight: 800;
}
.MyBTN:hover{
  background-color: rgb(246, 246, 246) !important;
  color: black;
}
.textsName{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.246) !important;
}

.companyName{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  color: rgba(0, 0, 0, 0.373);
}

.FaArrowLeft{
  height: 27px;
  width: 27px;
  border-radius: 5px;
  padding: 3px;
  background-color: none;
}

.FaArrowLeft:hover{
  background-color: rgba(0, 0, 0, 0.046);
}

@media (max-width: 768px) {
  .MyLoginPage{
    width: 90vw !important;
  }


}



/* .MyempBtn{
  width: 20%;
} */