.MySideBar{
  background-color: white;
  margin-top: -40px;
  margin-left: -20px;
  
}

.MyDivv {
  color: black;
}

.MyAdminss{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.588);
}

